@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

$fonts: 'Montserrat', sans-serif;
$fontSize: 16px;

//Colors
$summerBlue: #286DA8;
$warmPeach: #CD5360;
$field: #B37D4E;
$breeze: #438396;
